
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position:center;
  width: 90%;
  max-width: 1200px;
  background-image: url(./Imagens/c5479a4a53489876144df0155dc399cc.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: white;
}

.image-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem; 
}

img {
  width: 100%;
  height: auto;
}

.text-link {
  position: absolute; 
  font-size: 1.5rem;
  color: orange;
  text-decoration: none;
  font-weight: bold;
  z-index: 10;
}



.text-link:nth-of-type(1) {
  top: 20%;
  left: 30%; 
}


.text-link:nth-of-type(2) {
  top: 40%;
  left: 60%; 
}


.text-link:nth-of-type(3) {
  top: 60%; 
  left: 30%;
}


.text-link:nth-of-type(4) {
  top: 80%; 
  left: 60%; 
}

