* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  background: url(./rennan\ francisco\ de\ oliveira.png) no-repeat center/contain;
  width: 100vh;
  height: 100vh;
  background-color: black;
}

  
  footer{
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
  }
