* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-image: url(./rennan\ francisco\ de\ oliveira.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}